/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  :root {
    --color-dark-purple: #69306D;
    --color-dark-green: #133F2A;
    --color-dark-blue: #0E103D;
    
    --color-light-white: #F0F7F4;
    --color-light-green: #A2E3C4;
    --color-light-grey: #B3BFB8;
    --color-filter-light-green: brightness(0) saturate(100%) invert(94%) sepia(8%) saturate(1291%) hue-rotate(84deg) brightness(96%) contrast(85%);

    --color-mid-grey: #7E8D85;
    --color-mid-green: #3C493F;

    --library-gap:20px;
    --book-gap: 5px;

    --border-radius: 10px;
    --button-radius: 25px;

    --header-font-size: 2rem;
    --footer-font-size: 1.5rem;
    --sidebar-font-size: 1.5rem;

    --tooltip-width: 300px;
    --tooltip-padding: 5px

  }

  .page {
    font-family: 'Infini';
    height: 100vh;
    width: 100vw;
    color: var(--color-light-green);
    display: grid;
    grid-template: 1fr 5fr / minmax(min-content, 1fr) 4fr;
    grid-template-areas: 
        "header header"
        "sidebar library"
        "sidebar footer";
  }

  .icon {
    filter: var(--color-filter-light-green);
  }

  .page > .header,
  .page > .sidebar,
  .page > .footer,
  .page button {
    font-family: 'Bagnard';
  }

  .page > .header {
    grid-area: header;
    font-size: var(--header-font-size);
    background-color: var(--color-dark-purple);
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 4fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    /* white-space: nowrap; */
  }

  .header-logo {
    object-fit: contain;
    max-width: 75px;
  }

  .sidebar {
    grid-area: sidebar;
    background-color: var(--color-dark-green);
    font-size: var(--sidebar-font-size);
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    white-space: nowrap;
    padding: 20px;
    align-items: start;
    text-align: center;
    max-height: 100%;
    overflow:auto
  }

  .sidebar-button,
  button {
    text-decoration: none;
    pointer-events: fill;
    border-radius: var(--button-radius);
    box-shadow: 0 2px var(--color-dark-blue);
    background-color: var(--color-light-green);
    color: var(--color-dark-green);
    margin: 20px;
  }

  .sidebar-button:hover,
  button:hover {
    box-shadow: 0 5px var(--color-dark-blue);
    transform: translateY(-3px);
    transition: 100ms;
    cursor: pointer;
  }

  .sidebar-button:active,
  button:active {
    background-color: var(--color-dark-blue);
    color: var(--color-light-green);
    transform: translateY(4px);
    box-shadow: 0 1px var(--color-dark-blue);
    /* pointer-events: none; */
    /* transition: 300ms; */
  }

  #library {
    grid-area: library;
    background-color: var(--color-dark-blue);
    display: grid;
    grid-template: repeat(auto-fill, minmax(180px, 1fr)) / 1fr;
    gap: var(--library-gap);
    align-items: start;
    overflow: auto;
    /* max-height: max-content; */
  }

  .book-entry {
    display: grid;
    grid-auto-flow: column;
    grid-template: 2fr 1fr / 4fr 1fr;
    grid-template-areas: 
      "card-link card-remove"
      "card-footer card-remove";
    /* max-height: 100px; */
    gap: var(--book-gap);
    border-radius: var(--border-radius);
    background-color: var(--color-light-green);
    color: var(--color-dark-blue);
    box-shadow: 0 5px var(--color-mid-grey);
    border-left: 10px solid var(--color-dark-purple);
    text-align: center;
    padding: var(--book-gap);
    margin: var(--book-gap);
    /* align-self: start; */
  }

  .book-entry > .card-link {
    grid-area: card-link;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-areas: 
      "tooltiptext tooltiptext tooltiptext";
    pointer-events: fill;
    border-bottom: 1px solid var(--color-dark-blue);
  }

  .book-entry > .card-link:hover {
    cursor: pointer;
    border: 1px solid var(--color-dark-blue);
    border-radius: var(--border-radius);
  }

  .is-read > .card-link:hover {
    cursor: pointer;
    border: 1px solid var(--color-light-green);
  }

  .book-entry > .card-remove {
    grid-area: card-remove;
    border-radius: var(--button-radius);
    margin: 20px 10px;
    padding: 10px;
    color: var(--color-light-green);
    background-color: var(--color-dark-purple);
    /* font-size: 0.75rem; */
  }

  .book-entry > .card-footer {
    grid-area: card-footer;
    min-height: 1rem;
    background-color: var(--color-dark-green);
    color: var(--color-light-green);
    border: 1px solid var(--color-light-green);
    border-radius: var(--border-radius);
  }

  .is-read {
    color: var(--color-light-green);
    background-color: var(--color-dark-blue);
    border: 1px solid var(--color-mid-grey);
    border-left: 10px solid var(--color-dark-purple);

  }

  .is-read > .card-link {
    border-bottom: 1px solid var(--color-light-green);
  }

  .page > .footer {
    grid-area: footer;
    font-size: var(--footer-font-size);
    background-color: var(--color-dark-purple);
    text-align: center;
    white-space: nowrap;
  }

  dialog::backdrop {
    background: var(--color-dark-blue);
    opacity: 0.75;
  }

  .modal {
    visibility: hidden;
  }

  .modal > .background {
    background-color: var(--color-dark-blue);
    opacity: 0.75;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    overflow: auto;
  }

  .modal > .box {
    position: absolute;
    /* visibility: hidden; */
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    z-index: 10;
    min-width: fit-content;
    min-height: fit-content;
    top: 25%;
    left: 25%;
    background-color: var(--color-light-green);
    color: var(--color-dark-blue);
    border-radius: var(--border-radius);
  }

  .modal > .box > .header {
    display: grid;
    grid-template-columns: 7fr 1fr;
    background-color: var(--color-dark-purple);
    color: var(--color-light-green);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    user-select: none;
    text-align: center;
    align-items: center;
  }

  .modal > .box > .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    gap: 1fr;
    background-color: var(--color-mid-grey);
    color: var(--color-dark-blue);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  .modal > .box > .content {
    border-radius: 0;
  }

  .header-button {
    padding: 10px;
  }

  .dialog-entry-add-library {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 20px;
  }

  .dialog-entry-add-library > input {
    border-radius: var(--button-radius);
    padding: 5px;
  }

  /*https://www.w3schools.com/css/css_tooltip.asp*/
  .tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
  .tooltip .tooltiptext {
    /* visibility: hidden; */
    display: block;
    grid-area: tooltiptext;
    opacity: 0;
    /* width: var(--tooltip-width); */
    background-color: var(--color-mid-green);
    color: var(--color-light-grey);
    border-radius: 6px;
    padding: 5px 0;
    margin: 0px auto;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    z-index: 1;
    transition: opacity 300ms;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    /* position: relative;
    display: inline-block; */
    /* top: 100%;
    left: 50%; */
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    opacity: 0;
    transition: opacity 300ms;
  }
  
  .tooltip:hover .tooltiptext,
  .tooltip:hover .tooltiptext::after {
    /* visibility: visible; */
    opacity: 0.90;
  }

  .tooltip-top {
    bottom: 150%;
    left: 50%;
    margin-left: calc(-var(--tooltip-width) * 0.5);
  }

  .tooltip-top .tooltiptext::after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: black transparent transparent transparent;
  }

  .tooltip-left {
    top: calc(-var(--tooltip-padding));
    right: 105%;
    margin-left: calc(-var(--tooltip-width) * 0.5);
  }

  .tooltip-left .tooltiptext::after {
    top: 50%;
    left: 100%;
    margin-top: calc(-var(--tooltip-padding));;
    border-color: transparent transparent transparent black;
  }

  .tooltip-right {
    top: calc(-var(--tooltip-padding));;
    left: 50%;
    margin-left: calc(-var(--tooltip-width) * 0.5);
  }

  .tooltip-right .tooltiptext::after {
    top: 50%;
    right: 100%;
    margin-top: calc(-var(--tooltip-padding));;
    border-color: transparent black transparent transparent;
  }

  .tooltip-bottom .tooltiptext {
    top: 155%;
    /* margin-left: calc(-var(--tooltip-width) * 0.5); */
  }

  .tooltip-bottom .tooltiptext::after {
    bottom: 100%;
    left: 50%;
    /* margin-left: calc(-1.0 * var(--tooltip-padding));; */
    border-color: transparent transparent var(--color-mid-grey) transparent;
  }
 