.book-entry {
    display: grid;
    grid-auto-flow: column;
    grid-template: 2fr 1fr / 4fr 1fr;
    grid-template-areas: 
      "card-link card-remove"
      "card-footer card-remove";
    /* max-height: 100px; */
    gap: var(--book-gap);
    border-radius: var(--border-radius);
    background-color: var(--color-light-green);
    color: var(--color-dark-blue);
    box-shadow: 0 5px var(--color-mid-grey);
    border-left: 10px solid var(--color-dark-purple);
    text-align: center;
    padding: var(--book-gap);
    margin: var(--book-gap);
    /* align-self: start; */
}

.book-entry > .card-link {
    grid-area: card-link;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-areas: 
      "tooltiptext tooltiptext tooltiptext";
    pointer-events: fill;
    border-bottom: 1px solid var(--color-dark-blue);
}

.book-entry > .card-link:hover {
    cursor: pointer;
    border: 1px solid var(--color-dark-blue);
    border-radius: var(--border-radius);
  }

.is-read > .card-link:hover {
    cursor: pointer;
    border: 1px solid var(--color-light-green);
}

.book-entry > .card-remove {
    grid-area: card-remove;
    border-radius: var(--button-radius);
    margin: 20px 10px;
    padding: 10px;
    color: var(--color-light-green);
    background-color: var(--color-dark-purple);
    /* font-size: 0.75rem; */
}

.book-entry > .card-footer {
    grid-area: card-footer;
    min-height: 1rem;
    background-color: var(--color-dark-green);
    color: var(--color-light-green);
    border: 1px solid var(--color-light-green);
    border-radius: var(--border-radius);
}

.is-read {
    color: var(--color-light-green);
    background-color: var(--color-dark-blue);
    border: 1px solid var(--color-mid-grey);
    border-left: 10px solid var(--color-dark-purple);

}

.is-read > .card-link {
    border-bottom: 1px solid var(--color-light-green);
}