.sidebar-button,
button {
    font-family: 'Bagnard';
    text-decoration: none;
    pointer-events: fill;
    border-radius: var(--button-radius);
    box-shadow: 0 2px var(--color-dark-blue);
    background-color: var(--color-light-green);
    color: var(--color-dark-green);
    margin: 20px;
}

.sidebar-button:hover,
button:hover {
  box-shadow: 0 5px var(--color-dark-blue);
  transform: translateY(-3px);
  transition: 100ms;
  cursor: pointer;
}

.sidebar-button:active,
button:active {
  background-color: var(--color-dark-blue);
  color: var(--color-light-green);
  transform: translateY(4px);
  box-shadow: 0 1px var(--color-dark-blue);
  /* pointer-events: none; */
  /* transition: 300ms; */
}

